<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper  namespace="com.example.creditcenter.Dao.AuditMapper">
    <resultMap id="AuditResultMap" type="com.example.creditcenter.Model.Audit">
        <id property="id" column="id" />
        <result property="userid" column="userid" />
        <result property="result" column="result" />
        <result property="time" column="time" />
        <result property="serialnumber" column="serialnumber" />
        <result property="platform" column="platform" />
    </resultMap>

    <select id="selectAuditById" resultMap="AuditResultMap" parameterType="java.lang.Integer">
        select * from audit where id = #{id,jdbcType = INTEGER}
    </select>

    <insert id="insertAudit" parameterType="com.example.creditcenter.Model.Audit">
        insert into audit(id,userid,result,time,serialnumber,platform) value(#{id,jdbcType=INTEGER},#{userid,jdbcType=INTEGER},
        #{result,jdbcType=VARCHAR},#{time,jdbcType=VARCHAR},#{serialnumber,jdbcType=VARCHAR},
        #{platform,jdbcType=INTEGER})
    </insert>

    <update id="updateAudit" parameterType="com.example.creditcenter.Model.Audit">
        update audit
        set
        userid = #{userid,jdbcType=INTEGER},
        result = #{result,jdbcType=VARCHAR},
        serialnumber = #{serialnumber,jdbcType=VARCHAR},
        platform = #{platform,jdbcType=INTEGER}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>